# Git and IDE related files
.dockerignore
.git
.gitignore
.gitmodules
.DS_Store
.vscode
.idea
*.swp
*.bak

# Build artifacts and temporary files
node_modules/
/.next/
/out/
dist/
build/
*.log
*.tmp
tmp/
uploads/
npm-debug.log
README.md

# Dependency management caches
*.tsbuildinfo
next-env.d.ts

# Environment specific files
.env
.env.*
example.env

# Sensitive files
*.pem
*.key
*.crt
*.pfx
*.jks
*.sqlite3
*.db