# Git and IDE related files
.git
.gitignore
.gitmodules
.DS_Store
.vscode
.idea
*.swp
*.bak
*.log

# Build artifacts and temporary files
public/
node_modules/
.next/
out/
dist/
build/
*.log
*.tmp
tmp/
uploads/
npm-debug.log
README.md
todo.md
.pnpm-store

# Docker
Dockerfile
docker-compose.yml
docker-compose.dev.yml
.dockerignore

# Dependency management caches
*.tsbuildinfo
next-env.d.ts

# Environment specific files
.env
.env.*
example.env

# Sensitive files
*.pem
*.key
*.crt
*.pfx
*.jks
*.sqlite3
*.db