services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: pastebox
    container_name: pastebox_app
    ports:
      - "3000:3000"
    volumes:
      - uploads:/app/uploads
      - data:/app/data
    environment:
      NODE_ENV: production
      DATABASE_URL: ${DATABASE_URL}
      NEXT_PUBLIC_APP_URL: ${NEXT_PUBLIC_APP_URL}
    restart: unless-stopped

volumes:
  uploads:
  data:
